<header class="dashboard-header">
  <h2 class="dashboard-title">Dashboard</h2>
</header>
<div class="dashboard-main">
  <h3 class="dashboard-sub-title">Tasks Overview</h3>
  <div class="dashboard-tasks">
    <mac-tasks-chart [projectSummaries]="projectSummaries">
    </mac-tasks-chart>
  </div>
  <h3 class="dashboard-sub-title">Projects</h3>
  <ul class="dashboard-list">
    <li *ngFor="let projectSummary of projectSummaries"
        class="dashboard-list-item">
      <mac-project-summary [projectSummary]="projectSummary"
                           (click)="activateProject(projectSummary.project)">
      </mac-project-summary>
    </li>
  </ul>
</div>
